{{ define "main" }}
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}

  <footer>
    <div class="footer-content">
        <div class="social-links">
            <a href="https://github.com/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://linkedin.com/in/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <p>&copy; {{ now.Year }} All rights reserved.</p>
    </div>
</footer>
{{ end }}
