{{ define "main" }}
<section class="hero">
    <div class="hero-content">
        <h1>Hi, I'm Adil Burak</h1>
        <h2>Cybersecurity Professional | Ethical Hacker | Tech Explorer</h2>
        <p>I navigate the digital frontier, uncovering vulnerabilities, securing systems, and sharing insights along the way. Passionate about hacking, security research, and building a safer cyberspace—one exploit at a time.</p>
    </div>
    
    <div class="hero-buttons">
        <a href="/posts" class="hero-button primary-button">
            <i class="fas fa-book-open"></i>
            Read My Blog
        </a>
        <a href="/about" class="hero-button secondary-button">
            <i class="fas fa-user"></i>
            About Me
        </a>
    </div>
</section>

<footer>
    <div class="footer-content">
        <div class="social-links">
            <a href="https://github.com/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://linkedin.com/in/adilburaksen" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <p>&copy; {{ now.Year }} All rights reserved.</p>
    </div>
</footer>
{{ end }}
